/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abel Regular'), local('Abel-Regular'), url(./assets/Abel-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

*{
	padding: 0;
	margin: 0;
	font-family: 'Abel', sans-serif;
}

html{
    background: #8C6DD7;
  background-image: url('./assets/img/bg.svg');
  background-size: 400px 400px;
}

.button_dark{
  background-color: #3a4351;
  color: #dce4f2;
  border: none;
  box-shadow: 0 2px 2px rgba(0,0,0,0.6);
  cursor: pointer;
}

.button_dark:hover{
  background-color: #30353d;
}

.button_dark:active{
  background-color: #30353d;
  border:none;
}

.rc-anchor .rc-anchor-invisible .rc-anchor-light  .rc-anchor-invisible-hover{
 opacity: 0;
}

.main{
  min-height: 850px;
  width: 60%;
  background-color: #dce4f2;
  margin: 10px auto 10px  auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-width: 800px;
}

.post{
  background-color: white;
  margin: 4% 5%;
  box-shadow: -3px 3px 3px 0px #3a4351;
  border: 1px solid rgba(48, 53, 61,0.3);
  border-radius: 4px;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color:#3a4351;
}
.post_title{
  margin: 8px;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post_title_block{
  overflow: hidden;
  height: 30px;
  width: 94%;
  white-space: nowrap;
}
.post_text{
  box-shadow: 0px 0px 10px 1px #3a4351;
  padding: 1% 1% 1px 1%;
  margin-top: 5px;
  font-size: 18px;
}
.text_container{
  height: fit-content;
  overflow: hidden;
}
.post_footer{
  height: 40px;
  display: flex;
  align-items: flex-end;
}
.post_user{
  font-size: 18px;
  display: flex;
  align-items: flex-end;
  margin: 3px 3px 3px 30px;
  max-width: 50%;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}
.owners_avatar{
  width: 30px;
  max-height: 30px;
  margin-right: 5px;
  border-radius: 20px;
}
.post_date{
  margin: 3px 8px 3px auto;
  font-style: italic;
}
.added-img{
  max-width: 85%;
  min-width: 60%;
  max-height: 340vw;
  height: auto;
}
