<div class="navbar">

	<div class="logo_section" routerLink="/main">
		<img class="logo" src="./assets/img/logo_l.svg">
		<div class="logo_text">
			<div class="logo_text_r1">sketchPlane</div>
			<div class="logo_text_r2">I have no idea why</div>
		</div>
	</div>

	<div class="nav">
		<div class="nav_item" style="border-left: none;" routerLinkActive="active" routerLink="/main"><label>Main</label></div>
		<div class="nav_item" routerLinkActive="active" routerLink="/offtop">OffTop</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/fanfic">Tools</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/info">Info</div>
    <div *ngIf="this.guard.moder() || this.guard.admin()" class="nav_item" routerLinkActive="active" routerLink="admin">Admin-board</div>
    <app-flash-activites></app-flash-activites>
	</div>
</div>
