<div class="navbar">

	<div class="logo_section" routerLink="/main">
		<img class="logo" src="./assets/img/logo_l.svg">
		<div class="logo_text">
			<div class="logo_text_r1">sketchPlane</div>
			<div class="logo_text_r2">I have no idea why</div>
		</div>
	</div>

	<div class="nav">
		<div class="nav_item" style="border-left: none;" routerLinkActive="active" routerLink="/main"><label>Main</label></div>
		<div class="nav_item" routerLinkActive="active" routerLink="/offtop">OffTop</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/fanfic">FanFic</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/info">Info</div>
		<div (click)='changeState("l");scrollLock(true);' class="nav_item">Sign in</div>
		<div (click)='changeState();scrollLock(true);' class="nav_item">Sign up</div>
	</div>
</div>

<div [@anim_reg]=currentState class="register">
	<div class="reg_section">
		fxgdf
	</div>
</div>

<div [@anim_reg]=currentState_l class="register">
	<form #logForm='ngForm' class="reg_section" novalidate>

		<div class="reg_item">
			<label>Email:</label>
			<input required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' class="reg_input" type="email" name="l_email" #l_email='ngModel' ngModel>
		</div>
		<div class="alert_danger" *ngIf="l_email.invalid && (l_email.dirty || l_email.touched)">
			<div *ngIf="l_email.errors.required">
   				 Email is required.l
 			</div>
  			<div *ngIf="l_email.errors.pattern">			
				Please enter your real email
 			</div>
		</div>

		<div class="reg_item">
			<label>Password:</label>
			<input required minlength="6" pattern="^(?=.*[0-9])[a-zA-Z0-9!@#$%^&*]{1,16}$" class="reg_input" type="Password" name="l_pass" #l_pass='ngModel' ngModel>
		</div>
		<div class="alert_danger" *ngIf="l_pass.invalid && (l_pass.dirty || l_pass.touched)">
			<div *ngIf="l_pass.errors.required">
   				 Password is required.
 			</div>
 			<div *ngIf="l_pass.errors.minlength">
   				 Password must be at least 6 characters long.
  			</div>
  			<div *ngIf="l_pass.errors.pattern">			
				The password must consist of Latin alphabet letters and numbers and contain a number
 			</div>
		</div>

		<div class="button_item">
			<button (click)='changeState("l");scrollLock(false);' class="reg_button close_button">
				Close
			</button>
			<button (click)='changeState("l")' [disabled]="!logForm.valid" class="reg_button submit_button">
				Sign in
			</button>
		</div>
	</form>
</div>