<div class="navbar">

	<div class="logo_section" routerLink="/main">
		<img class="logo" src="./assets/img/logo_l.svg">
		<div class="logo_text">
			<div class="logo_text_r1">sketchPlane</div>
			<div class="logo_text_r2">I have no idea why</div>
		</div>
	</div>

	<div class="nav">
		<div class="nav_item" style="border-left: none;" routerLinkActive="active" routerLink="/main"><label>Main</label></div>
		<div class="nav_item" routerLinkActive="active" routerLink="/offtop">OffTop</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/fanfic">FanFic</div>
		<div class="nav_item" routerLinkActive="active" routerLink="/info">Info</div>
		<div (click)='changeState("l");scrollLock(true);' class="nav_item">Sign in</div>
		<div (click)='changeState("");scrollLock(true);' class="nav_item">Sign up</div>
	</div>
</div>

<div [@anim_reg]=currentState class="register">
	<form class="reg_section" novalidate>
      <div class="reg_title">
        Sign up
      </div>

      <div class="reg_item">
        <div class="item_title">
          <div>Name:</div>
          <img *ngIf="this.loading.name" class="item_load" src="assets/img/loading.gif" alt="">
        </div>
        <input (input)="check_name()" [(ngModel)]="r_data.name" name="name" type="text" class="item_input">
        <div *ngIf="this.errors.name" class="item_danger">
          *{{this.errors.name}}
        </div>
      </div>

    <div class="reg_item">
      <div class="item_title">
        <div>Email:</div>
        <img *ngIf="this.loading.email" class="item_load" src="assets/img/loading.gif" alt="">
      </div>
      <input (input)="check_email()" [(ngModel)]="r_data.email"  name="email" type="email" class="item_input">
      <div *ngIf="this.errors.email" class="item_danger">
        *{{this.errors.email}}
      </div>
    </div>

    <div class="reg_item">
      <div class="item_title">
        <div>Password:</div>
        <img *ngIf="this.loading.pass" class="item_load" src="assets/img/loading.gif" alt="">
      </div>
      <div style="display: flex"><input style="flex-grow: 1" (input)="check_password()" [(ngModel)]="r_data.pass"  name="pass" type="password" class="item_input"><img (click)="show_password('pass')" class="show_password" src="assets/img/eye-icon.png" alt=""></div>
      <div *ngIf="this.errors.pass" class="item_danger">
        *{{this.errors.pass}}
      </div>
    </div>

    <div class="reg_item">
      <div class="item_title">
        <div>Repeat password:</div>
        <img  *ngIf="this.loading.rpass" class="item_load" src="assets/img/loading.gif" alt="">
      </div>
      <input (input)="check_pmatch()" [(ngModel)]="r_data.rpass"  name="rpass" type="password" class="item_input">
      <div *ngIf="this.errors.rpass" class="item_danger">
        *{{this.errors.rpass}}
      </div>
    </div>

    <div *ngIf="allF" class="item_danger">
      *Please fill in all fields.
    </div>
      <div class="button_block">
        <button (click)='changeState("");scrollLock(false);' class="button_dark reg_button">
          Close
        </button>
        <button (click)='onSubmit()' class="button_dark reg_button">
          Sign up
        </button>
      </div>
	</form>
</div>

<div [@anim_reg]=currentState_l class="register">
  <form class="reg_section">
    <div class="reg_title">
      Sign in
    </div>

    <div class="reg_item">
      <div class="item_title">
        <div>Email:</div>
      </div>
      <input [(ngModel)]="l_data.email" name="l_email" type="email" class="item_input">
    </div>

    <div class="reg_item">
      <div class="item_title">
        <div>Password:</div>
      </div>
      <div style="display: flex"><input [(ngModel)]="l_data.pass" style="flex-grow: 1"  name="l_pass" type="password" class="item_input"><img (click)="show_password('l_pass')" class="show_password" src="assets/img/eye-icon.png" alt=""></div>
    </div>

    <div style="display: flex">
      <div *ngIf="this.errors.login" class="item_danger">
        *{{this.errors.login}}
      </div>
      <img *ngIf="this.loading.login" style="margin-left: auto" class="item_load" src="assets/img/loading.gif" alt="">
    </div>


    <div class="button_block">
      <button (click)='changeState("1");scrollLock(false);' class="button_dark reg_button">
        Close
      </button>
      <button (click)='onLogin()' class="button_dark reg_button">
        Sign in
      </button>
    </div>
  </form>
</div>
